<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>关于我们 > 企业简介_响应式生态蔬菜类企业织梦模板(自适应手机端)</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
<link href="/static/css/style.css" rel="stylesheet" type="text/css" />
<!--[if lt IE 9]>
<script src="/static/js/css3-mediaqueries.js"></script>
<script src="/static/js/html5_tag.js"></script>
<![endif]-->
<SCRIPT src="/static/js/jquery-1.4.2.min.js" type="text/javascript"></SCRIPT>
<SCRIPT src="/static/js/common.js" type="text/javascript"></SCRIPT>
<!--[if lte IE 6]><SCRIPT src="/static/js/iepng.js" type="text/javascript"></SCRIPT>
<script> 
EvPNG.fix('div, ul, img, li, input,a,span,nav,article'); 
</script><![endif]-->
<script type="text/javascript" src="/static/js/jquery.lazyload.js"></script>
</head>
<body class="indexBody">
{% include 'head.htm' %}

<section class="mcur">
  <div class="wrap">
    <h1>企业简介<span>About us</span></h1>
    <h2> <span></span>当前位置:<a href='/'>主页</a> > <a href='{% url 'about' %}'>关于我们</a> > <a href='{% url 'about' %}'>企业简介</a> </h2>
  </div>
</section>
<menu class="PageMenuList">
  <div class="wrap">
    <ul id="PagemenuClass">
      <li class='hover'><a href='{% url 'about' %}'>企业简介</a></li>
      <li><a href='{% url 'gongsiwenhua' %}' class='thisclass'>公司文化</a> </li>
      <li><a href='{% url 'tuanduichengyuan' %}'>团队成员</a></li>

      <li><a href='{% url 'qiyerongyu' %}'>企业荣誉</a></li>

      <li><a href='{% url 'lianxiwomen' %}'>联系我们</a></li>
      
      <div class="cls"></div>
    </ul>
  </div>
</menu>
<div class="wrap">
  <div class="content">
    <div class="about_index_1">
      <h1 style="padding-bottom: 10px" class="n_top">企业简介</h1>
      <p>
          {{ companyinfo.desc }}
      </p>
      <hr />
      <div class="about_index_Conlist">
        {% include 'contact.html' %}
      </div>
    </div>
    <div class="cls"></div>
  </div>
</div>
<section class="black_bg_bak">
<div class="wrap">
{% include 'shear.html' %}

</div>
<script type="text/javascript">
var help_cat = '0';
var help_mid = '3';
var help_ip = '14.145.134.225';
var help_url = window.location.href;
</script>
</section>
{% include 'footer.htm' %}
</body>
</html>