<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>农产品五_响应式生态蔬菜类企业织梦模板(自适应手机端)</title>
    <meta name="keywords" content=""/>
    <meta name="description"
          content="廖正军2008年从扬州大学艺术设计专业毕业，在上海工作，年薪过十万。搞艺术的怎么养起火鸡了呢? 大三暑假，廖正军曾见家里养火鸡，而后在上海超市他发现，火鸡售价不菲，一了解"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
    <!--[if lt IE 9]>
<script src="/static/js/css3-mediaqueries.js"></script>
<script src="/static/js/html5_tag.js"></script>
<![endif]-->
    <SCRIPT src="/static/js/jquery-1.4.2.min.js" type="text/javascript"></SCRIPT>
    <SCRIPT src="/static/js/common.js" type="text/javascript"></SCRIPT>
    <!--[if lte IE 6]><SCRIPT src="/static/js/iepng.js" type="text/javascript"></SCRIPT>
<script> 
EvPNG.fix('div, ul, img, li, input,a,span,nav,article'); 
</script><![endif]-->
    <script type="text/javascript" src="/static/js/jquery.lazyload.js"></script>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/images/114_logo.png">
    <script language="javascript" type="text/javascript" src="/static/js/dedeajax2.js"></script>
</head>
<body class="indexBody">
{% include 'head.htm' %}

<section class="mcur">
    <div class="wrap">
        <h1>{{ jingdian.name }}</h1>
        <h2><span></span>当前位置:<a href='/'>主页</a> > <a href='{% url 'fengguangjingdian' %}'>风光景点</a> > <a
                href='{% url 'jingdianmingxi' jingdian.id %}'>{{ jingdian.name }}</a></h2>
    </div>
</section>
.
<div class="wrap">
    <section class="caseDetail">
        <article class="leftpic" style="position:relative"><a href="javascript:" class="btn_scroll_left"
                                                              id="btn_scroll_left" title="上一张"></a>

            <img src="{{ jingdian.imagea.url }}" alt="" id="caseBigPic" width="980" height="620">
            <img src="{{ jingdian.imageb.url }}" alt="" id="caseBigPic" width="980" height="620">
            <img src="{{ jingdian.imagec.url }}" alt="" id="caseBigPic" width="980" height="620">
            <img src="{{ jingdian.imaged.url }}" alt="" id="caseBigPic" width="980" height="620">
            <img src="{{ jingdian.imagee.url }}" alt="" id="caseBigPic" width="980" height="620">
            <img src="{{ jingdian.imagef.url }}" alt="" id="caseBigPic" width="980" height="620">

            <a href="javascript:" class="btn_scroll_right" id="btn_scroll_right" title="下一张"></a>
        </article>
        <section class="rightCase">
            <script type="text/javascript">
                var tempXGT = "{{ jingdianimgs }}";
                var tempXGTImg = tempXGT.split('+++++++++');
                var tempXGT2 = "";
                var tempXGTImg2 = tempXGT2.split('+++++++++');
            </script>
            <section class="casepicBox slidePic">
                <h2>效果图 (<span class="this_count" id="this_count1">1</span>/<span id="count1">3</span>)<a
                        href="javascript:" class="btn_Left gray" title="向左翻页"></a><a href="javascript:"
                                                                                     class="btn_Right gray"
                                                                                     title="向右翻页"></a></h2>
                <div class="casepicUl_box" style="margin-left: 0px; width: 103px;">
                    <ul class="casepicList">
                        <script type="text/javascript">
                            for (var i = 0; i < tempXGTImg.length; i++) {
                                if (i % 3 == 0 && i > 0) {
                                    document.write('<div class="cls"></div></ul><ul class="casepicList">')
                                }
                                document.write('<li><a href="javascript:"><img src="' + tempXGTImg[i].replace('thumb.jpg', 'middle.jpg') + '" width="93" height="75"></a></li>');
                            }
                        </script>
                        <li class="hover"><a href="javascript:">
                            <img src="{{ jingdian.imagea.url }}" width="93" height="75"></a></li>
                        <li class="hover"><a href="javascript:"><img src="{{ jingdian.imageb.url }}"
                                                                     width="93" height="75"></a></li>
                        <li class="hover"><a href="javascript:"><img src="{{ jingdian.imagec.url }}"
                                                                     width="93" height="75"></a></li>
                    </ul>
                    <div class="cls"></div>
                </div>
            </section>
            <div class="casepicBoxLine"></div>
        </section>
        <div class="cls"></div>
    </section>
    <section>
        <div class="title">
            <h1>详细介绍<span>Detailed Introduction</span></h1>
            <div class="cls"></div>
            <span class="border"></span></div>
        <article class="CaseDetailText">
            <div id="content" class="content">
                <p>
                    {{ jingdian.content }}
                </p>
            </div>
        </article>
        <section class="newsDetailCur">
            <ul id="newsDetailCur">
                <li class="l">上一篇：没有了</li>
                <li class="r"><a href='/a/chanpinzhanshi/chanpinerlei/73.html'>下一篇：产品展示六</a></li>
                <div class="cls"></div>
            </ul>
        </section>
    </section>
    <section class="indexCase" style="padding-bottom:20px;">
        <div class="wrap">
            <div class="title">
                <h1>更多推荐<span>Recomonended</span></h1>
                <div class="cls"></div>
                <a class="btn_Left gray" href="javascript:" id="btn_Left"></a> <a class="btn_Right" href="javascript:"
                                                                                  id="btn_Right"></a> <span
                    class="border"></span></div>
            <section class="indexCaseList js_check_width_list mobile_indexCaseList_2"
                     style="height:240px; overflow:hidden" id="MoreCaseBox">
                <div class="MoreCaseBoxCon" id="MoreCaseBoxCon">
                    {% for tui in tuijian %}
                    <figure class="indexCaseItem">
                        <p><img original="{{ tui.imagea.url }}" src="{{ tui.imagea.url }}"
                                width="232" height="170" alt="{{ tui.name }}"/><a href="{% url 'jingdianmingxi' tui.id %}"
                                                                         class='link'><span>{{ jingdian.content|truncatechars:'40' }}</span></a>
                        </p>
                        <figcaption><a href="/a/chanpinzhanshi/chanpinerlei/76.html" target="_blank">{{ tui.name }}</a>
                        </figcaption>
                    </figure>
                    {% endfor %}
                </div>
                <div class="cls"></div>
            </section>
        </div>
    </section>
</div>
</div>
</div>
</div>
<div class="about_index_Conlist">
    {% include 'contact.html' %}
</div>
</div>
<div class="cls"></div>
</div>
</div>
<section class="black_bg_bak">
    <div class="wrap">
        {% include 'shear.html' %}

    </div>
    <script type="text/javascript">
        var help_cat = '0';
        var help_mid = '3';
        var help_ip = '14.145.134.225';
        var help_url = window.location.href;
    </script>
</section>
{% include 'footer.htm' %}
</body>
<script type="text/javascript">
    CaseDetail = true;
    SetMoreCasePage = true;
    $('#newsDetailCur li a.looplink').each(function () {
        $(this).mouseover(function () {
            $(this).next('.newsCurPic').show(50)
        })
    })
    $('#newsDetailCur li').mouseleave(function () {
        $(this).find('.newsCurPic').hide(50)
    })
    $('#caseInfoHover').mouseover(function () {
        $(this).find('.caseTextInfo').show(50)
    }).mouseleave(function () {
        $(this).find('.caseTextInfo').hide(50)
    })
    $(document).ready(function () {
        LoadPageSize();
        $("img").lazyload();
        $('.casepicList li').eq(0).click();
    })

    function SetSrcollLList(wt) {

        $('.slidePic').each(function (j) {

            var i = 0, p = $(this).find('.casepicUl_box'), pList = $(this).find('ul.casepicList'), len = pList.length;
            var elePrev = $(this).find('.btn_Left'), eleNext = $(this).find('.btn_Right');
//var firstClick = false;
            elePrev.addClass('gray');
            eleNext.removeClass('gray');
            p.css('margin-left', 0);
            var w = 103, num = wt;
            p.css('width', w * len);
            if (len <= num)
                eleNext.addClass('gray');

            function prev() {
                if (elePrev.hasClass('gray')) {
//alert('已经是第一张了');
                    return;
                }
                p.animate({
                    marginLeft: -(--i) * w
                }, 500);
                if (i < len - num) {
                    eleNext.removeClass('gray');
                }
                if (i == 0) {
                    elePrev.addClass('gray');
                }
            }

            function next() {
                if (eleNext.hasClass('gray')) {
//alert('已经是最后一张了');
                    return;
                }
//p.css('margin-left',-(++i) * w);
                p.animate({
                    marginLeft: -(++i) * w
                }, 500);
                if (i != 0) {
                    elePrev.removeClass('gray');
                }
                if (i == len - num) {
                    eleNext.addClass('gray');
                }
            }

            elePrev.unbind('click').bind('click', prev);
            eleNext.unbind('click').bind('click', next);


        })
    }

    $('.icon_js_c').click(function () {
        $(this).addClass('icon_js_c_hover').siblings('.icon_js_c').removeClass('icon_js_c_hover');
        switch ($(this).index()) {
            case 0:
                $('#content').css('font-size', '16px');
                $('#content p').css('font-size', '16px');
                $('#content div').css('font-size', '16px');
                break;
            case 1:
                $('#content').css('font-size', '14px');
                $('#content p').css('font-size', '14px');
                $('#content div').css('font-size', '14px');
                break;
            case 2:
                $('#content').css('font-size', '12px');
                $('#content p').css('font-size', '12px');
                $('#content div').css('font-size', '12px');
                break;
        }
    })

    function SetMoreCase(cwidth, wt) {
        var i = 0, p = $("#MoreCaseBoxCon"), pList = $('#MoreCaseBoxCon .indexCaseItem'), len = pList.length;
        var elePrev = $('#btn_Left'), eleNext = $('#btn_Right');
//var firstClick = false;
        elePrev.addClass('gray');
        eleNext.removeClass('gray');
        pList.removeClass('no_nr');
        if (wt == 0) {
            elePrev.hide(0)
            eleNext.hide(0);
            p.css('margin-left', 0);
            p.css('width', '100%');
            return false;
        } else {
            elePrev.show(0)
            eleNext.show(0);
        }

        p.css('margin-left', 0);
        var w = cwidth, num = wt;
        p.css('width', w * len);
        if (len <= num)
            eleNext.addClass('gray');

        function prev() {
            if (elePrev.hasClass('gray')) {
//alert('已经是第一张了');
                return;
            }
            p.animate({
                marginLeft: -(--i) * w
            }, 500);
            if (i < len - num) {
                eleNext.removeClass('gray');
            }
            if (i == 0) {
                elePrev.addClass('gray');
            }
        }

        function next() {
            if (eleNext.hasClass('gray')) {
//alert('已经是最后一张了');
                return;
            }
//p.css('margin-left',-(++i) * w);
            p.animate({
                marginLeft: -(++i) * w
            }, 500);
            if (i != 0) {
                elePrev.removeClass('gray');
            }
            if (i == len - num) {
                eleNext.addClass('gray');
            }
        }

        elePrev.unbind('click').bind('click', prev);
        eleNext.unbind('click').bind('click', next);
        pList.each(function (n, v) {
            $(this).click(function () {
                if (n - i == 2) {
                }
                if (n - i == 0) {
                }
            })
        });

    }

    $('.casepicBox li').live('click', function () {
        $('.casepicList li.hover').removeClass('hover');
        $(this).addClass('hover');
        var temp_img = $(this).find('img').attr('src');
        var this_cur = 0;

        $('.rightCase').find('li').each(function (i) {
            this_cur++;

            if ($(this).hasClass('hover')) {
                return false;
            }
        })
        var btemp = 0;
        $(this).parents('.caseDetail').find('li').each(function () {
            btemp++;
            if ($(this).hasClass('hover')) {
                return false;
            }

        })
        ImgIndex = btemp - 1;

        if (this_cur <= tImgLength) {
            $('.this_count').eq(0).html(this_cur)
        } else {
            $('.this_count').eq(1).html(this_cur - tImgLength)
        }

        var img_type = temp_img.substr(temp_img.length - 3, 3)
        temp_img = temp_img.replace('.' + img_type + '.middle.' + img_type, '_bigpic.' + img_type);
        $('#caseBigPic').attr('src', '').attr('src', temp_img);
    });
    var ImgIndex = 0;
    CaseDetailSet = 3;
    var tImgLength = tempXGTImg.length, tImgLength2 = tempXGTImg2.length;
    if (tempXGTImg2 == '') {
        tImgLength2 = 0;
    }
    if ($("#count1")[0]) {
        $("#count1").html(tImgLength)
    }
    if ($("#count2")[0]) {
        $("#count2").html(tImgLength2)
    }
    $('#btn_scroll_left').click(function () {
        if (ImgIndex >= 0) {
            $('.rightCase li').eq(ImgIndex - 1).click();
//ImgIndex--;

        } else {
            $('.rightCase li').eq(LastImgLenght - 2).click();
//ImgIndex=LastImgLenght-1;
        }
        if (ImgIndex == tImgLength - 1 && ImgIndex <= tImgLength + 1) {
            var temp_click = (ImgIndex - CaseDetailSet * 3) / 3;
            for (var i = 0; i < temp_click; i++) {
                $('.btn_Right').eq(0).click();
            }
            return 0;
        }
        if (ImgIndex == tImgLength + tImgLength2 - 1) {
            var temp_click = (ImgIndex - CaseDetailSet * 3) / 3;
            for (var i = 0; i < temp_click; i++) {
                $('.btn_Right').eq(1).click();
            }
            return 0;
        }
        if (ImgIndex < tImgLength) {
            if ((ImgIndex - 3 * CaseDetailSet + 1) % 3 == 0) {
                $('.btn_Left').eq(0).click();
            }
        } else {
            if ((ImgIndex - (3 * CaseDetailSet + tImgLength - 1)) % 3 == 0) {
                $('.btn_Left').eq(1).click();
            }
        }
    });
    var LastImgLenght = $('.rightCase li').length;
    $('#btn_scroll_right').click(function () {
        if (ImgIndex < LastImgLenght - 1) {
            $('.rightCase li').eq(ImgIndex + 1).click();
//ImgIndex++;
        } else {
            $('.rightCase li').eq(0).click();
//ImgIndex=0;
        }
        if (ImgIndex == 0) {
            var temp_click = (tImgLength - CaseDetailSet * 3) / 3;
            for (var i = 0; i < temp_click; i++) {
                $('.btn_Left').eq(0).click();
            }
            return 0;
        }
        if (ImgIndex == tImgLength) {

            var temp_click = (tImgLength2 - CaseDetailSet * 3) / 3;
            for (var i = 0; i < temp_click; i++) {
                $('.btn_Left').eq(1).click();
            }
            return 0;
        }
        var list2_temp_index = LastImgLenght - tImgLength;
        var list2_temp_index2 = ImgIndex - tImgLength;
        if (ImgIndex == tImgLength) {
            var temp_click = (ImgIndex - CaseDetailSet * 3) / 3;
            for (var i = 0; i < temp_click; i++) {
                $('.btn_Right').eq(1).click();
            }
            return 0;
        }
        if (ImgIndex == 0) {
            var temp_click = (ImgIndex - CaseDetailSet * 3) / 3;
            for (var i = 0; i < temp_click; i++) {
                $('.btn_Right').eq(0).click();
            }
            return 0;
        }
//if()
        if (ImgIndex < tImgLength) {
            if ((ImgIndex - 3 * CaseDetailSet) % 3 == 0 && ImgIndex > CaseDetailSet * 2 + 1) {
                $('.btn_Right').eq(0).click();
            }
        } else {
            if ((ImgIndex - (3 * CaseDetailSet + tImgLength)) % 3 == 0 && ImgIndex > tImgLength + CaseDetailSet * 2 + 1) {
                $('.btn_Right').eq(1).click();
            }
        }
    });
</SCRIPT>
</html>