<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>农民自创四系生态农业 高密度栽培模式受青睐_响应式生态蔬菜类企业织梦模板(自适应手机端)</title>
    <meta name="keywords" content="农民,自创,四系,生态农业,高密度,高,密度,太,"/>
    <meta name="description"
          content="太棒了!中国的农民真了不起!我从来没有见过这么好的种植模式，这么好的农业基地。我们要聘请您当我们的技术顾问这是来自韩国农业专家参观了上海四系生态农业科技有限公司的生"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
    <!--[if lt IE 9]>
<script src="/static/js/css3-mediaqueries.js"></script>
<script src="/static/js/html5_tag.js"></script>
<![endif]-->
    <SCRIPT src="/static/js/jquery-1.4.2.min.js" type="text/javascript"></SCRIPT>
    <SCRIPT src="/static/js/common.js" type="text/javascript"></SCRIPT>
    <!--[if lte IE 6]><SCRIPT src="/static/js/iepng.js" type="text/javascript"></SCRIPT>
<script> 
EvPNG.fix('div, ul, img, li, input,a,span,nav,article'); 
</script><![endif]-->
    <script type="text/javascript" src="/static/js/jquery.lazyload.js"></script>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/images/114_logo.png">
    <script language="javascript" type="text/javascript" src="/static/js/dedeajax2.js"></script>
</head>
<body class="indexBody">
{% include 'head.htm' %}

<section class="mcur">
    <div class="wrap">
        <h1>产业新闻<span></span></h1>
        <h2><span></span>当前位置:<a href='/'>主页</a> > <a href='/a/xinwenzixun/'>新闻资讯</a> > <a
                href='/a/xinwenzixun/chanyexinwen/'>产业新闻</a> > </h2>
    </div>
</section>
<menu class="PageMenuList">
    <div class="wrap">
        <ul id="PagemenuClass">
            {% for fenlei in zixunfenlei %}
                <li><a href='{% url 'zixunfenlei' fenlei.id %}'>{{ fenlei.name }}</a></li>

            {% endfor %}

            <div class="cls"></div>
        </ul>
    </div>
</menu>
<script src='/static/js/ad.js' language='javascript'></script>
<div class="wrap">
    <article class="newsDetail">
        <header class="newstit">
            <h1>{{ article.title }}</h1>
            <p><span>发布时间：{{ article.create_time }}</span> <span>作者：admin</span> <span>来源：未知</span>
                <span>点击：{{ article.chakan }}
                    <script
                            src="/plus/count.php?view=yes&aid=18&mid=1" type='text/javascript'
                            language="javascript"></script></span> <span>字号：<a href="javascript:"
                                                                               class="icon_js_c">大</a><a
                        href="javascript:" class="icon_js_c icon_js_c_hover">中</a><a href="javascript:"
                                                                                     class="icon_js_c">小</a></span></p>
        </header>
        <article class='content_bak' id="content">
            {% autoescape off %}
            {{ article.content }}
            {% endautoescape %}
        </article>
        <script type="text/javascript">
            function showMoblieshare(obj) {
                if ($(obj).find('.isj').hasClass('isj_hover')) {
                    $('.isj').removeClass('isj_hover');
                    $('#mobile_erweima').hide(500)
                } else {
                    $('.isj').addClass('isj_hover');
                    $('#mobile_erweima').show(500)
                }
            }
        </script>
        <div class="cls"></div>
        <section class="newsDetailCur">
            <ul id="newsDetailCur">
                <li class="l">上一篇：没有了</li>
                <li class="r"><a href='/a/xinwenzixun/chanyexinwen/21.html'>下一篇：这种菜竟比药还管用　一种吃法治一种病</a></li>
                <div class="cls"></div>
            </ul>
        </section>
    </article>
    <section class="LikeNews">
        <div class="title">
            <h1><strong>相关文章</strong><span>Related Articles</span></h1>
            <div class="cls"></div>
            <a class="btn_Left gray" href="javascript:" id="btn_Left"></a> <a class="btn_Right" href="javascript:"
                                                                              id="btn_Right"></a> <span
                class="border"></span></div>
        <div class="MoreCaseBoxCon" id="MoreCaseBoxCon" style="width:100%; overflow:hidden">
            <ul class="NewsList" style="height:184px; overflow:hidden; padding-bottom:0px; margin-bottom:0px;"
                id="MoreCaseBox">
                {% for article in xiangguan %}
                <li>
                    <p class="t1"><span class="green"></span></p>
                    <h3 class="t2"><a href="{% url 'zixunmingxi' article.id %}" title="{{ article.title }}" target="_blank">{{ article.title }}</a>
                    </h3>
                    <p class="t3">{{ article.create_time }}</p>
                    <p class="t4">■{{article.content|truncatechars:30}}</p>
                {% endfor %}

                <div class="cls"></div>
            </ul>
        </div>
    </section>
</div>
</div>
</div>
<div class="about_index_Conlist">
    {% include 'contact.html' %}
</div>
</div>
<div class="cls"></div>
</div>
</div>
<section class="black_bg_bak">
    <div class="wrap">
        {% include 'shear.html' %}

    </div>
    <script type="text/javascript">
        var help_cat = '0';
        var help_mid = '3';
        var help_ip = '14.145.134.225';
        var help_url = window.location.href;
    </script>
</section>
{% include 'footer.htm' %}
</body>
<script type="text/javascript">
    newsIndexPage = true;
    var pmenuid = 14;
    $(document).ready(function () {
        LoadPageSize();
        $("img").lazyload();
        $('#PagemenuClass a').each(function () {
            if ($(this).attr('value') == pmenuid) {
                $(this).parent('li').addClass('hover');
                return 0;
            }
        })
    })
    $('.icon_js_c').click(function () {
        $(this).addClass('icon_js_c_hover').siblings('.icon_js_c').removeClass('icon_js_c_hover');
        switch ($(this).index()) {
            case 0:
                $('#content').css('font-size', '16px');
                $('#content p').css('font-size', '16px');
                $('#content div').css('font-size', '16px');
                break;
            case 1:
                $('#content').css('font-size', '14px');
                $('#content p').css('font-size', '14px');
                $('#content div').css('font-size', '14px');
                break;
            case 2:
                $('#content').css('font-size', '12px');
                $('#content p').css('font-size', '12px');
                $('#content div').css('font-size', '12px');
                break;
        }
    })
    SetMoreNewsPage = true;

    function SetMoreNews(cwidth, wt) {
        var i = 0, p = $("#MoreCaseBoxCon ul"), pList = $('#MoreCaseBoxCon li'), len = pList.length;
        var elePrev = $('#btn_Left'), eleNext = $('#btn_Right');
//var firstClick = false;
        elePrev.addClass('gray');
        eleNext.removeClass('gray');
        pList.removeClass('no_mr');
        if (wt == 1) {
            $('#MoreCaseBoxCon li').css('width', cwidth)
        }

        p.css('margin-left', 0);
        var w = cwidth, num = wt;
        p.css('width', w * len);
        if (len <= num)
            eleNext.addClass('gray');

        function prev() {
            if (elePrev.hasClass('gray')) {
//alert('已经是第一张了');
                return;
            }
            p.animate({
                marginLeft: -(--i) * w
            }, 500);
            if (i < len - num) {
                eleNext.removeClass('gray');
            }
            if (i == 0) {
                elePrev.addClass('gray');
            }
        }

        function next() {
            if (eleNext.hasClass('gray')) {
//alert('已经是最后一张了');
                return;
            }
//p.css('margin-left',-(++i) * w);
            p.animate({
                marginLeft: -(++i) * w
            }, 500);
            if (i != 0) {
                elePrev.removeClass('gray');
            }
            if (i == len - num) {
                eleNext.addClass('gray');
            }
        }

        elePrev.unbind('click').bind('click', prev);
        eleNext.unbind('click').bind('click', next);
        pList.each(function (n, v) {
            $(this).click(function () {
                if (n - i == 2) {
                }
                if (n - i == 0) {
                }
            })
        });

    }

    function duibi(a, b) {
        var arr = a.split("-");
        var starttime = new Date(arr[0], arr[1], arr[2]);
        var starttimes = starttime.getTime();
        var arrs = b.split("-");
        var lktime = new Date(arrs[0], arrs[1], arrs[2]);
        var lktimes = lktime.getTime();
        if (starttimes >= lktimes) {
            return false;
        }
        else
            return true;
    }

    var myDate = CurentTime();

    function CurentTime() {
        var now = new Date();
        var year = now.getFullYear();       //年
        var month = now.getMonth() + 1;     //月
        var day = now.getDate();            //日
        var hh = now.getHours();            //时
        var mm = now.getMinutes();          //分
        var clock = year + "-";
        if (month < 10)
            clock += "0";
        clock += month + "-";
        if (day < 10)
            clock += "0";
        clock += day;
        return (clock);
    }
</script>
</html>