<footer>
    <div class="wrap">
        <div class="cls"></div>
        <section class="footerBotton">
            <menu>
                <a href='{% url 'about' %}' class='thisclass'>关于我们</a>
                <span class="line"></span>

                <a href='{% url 'chanpinzhanshi' %}' rel='dropmenu1' rel="nofollow">产品展示</a>
                <span class="line"></span>
                <a href='{% url 'jishupeixun' %}' rel='dropmenu1' rel="nofollow">技术培训</a>
                <span class="line"></span>
                <a href='{% url 'zhaoshangyinzi' %}' rel='dropmenu1' rel="nofollow">招商引资</a>
                <span class="line"></span>
                <a href='{% url 'fengguangjingdian' %}' rel='dropmenu1' rel="nofollow">风光景点</a>
                <span class="line"></span>
                <a href='{% url 'xinwenzixun' %}' rel='dropmenu1' rel="nofollow">新闻资讯</a>
                <span class="line"></span>
                <a href="http://weibo.com/" class="footersina" target="_blank" rel="nofollow"></a>
                <a href="http://t.qq.com/" class="footerteng" target="_blank" rel="nofollow"></a>
                <div class="cls"></div>
            </menu>
            <p class="copyright about_index_img">
                屏山县江畔果香……………………
                <br>
                全国统一服务热线：400-0000-889 <br>
                <img src="/static/images/zizhi.gif">
            </p>
            <div class="cls"></div>
            <a href="#" class="goTop cm_ico"></a></section>
    </div>
    <style type="text/css">

        .bottom-bar-btn {
            display: inline-block;
            padding: 5px 15px;
            margin: 0 10px;
            border: none;
            color: #FFFFFF;
            font-size: 20px;
            background: #7ec318;
            cursor: pointer;
            outline: none;
            text-decoration: none;
        }

        .bottom-bar-btn:hover {
            color: #fff
        }
    </style>
    </section>
    {% include 'link.html' %}
</footer>