<header class="headerTop" id="headerTop">
    <div class="wrap">
        <h1><span class="cm_ico2"></span>全国统一24小时服务热线：<strong class="pchtel">400-0000-889</strong><a class="mobilehtel">400-0000-889</a>
            <strong class="pchtel">&nbsp;/&nbsp;13999887799</strong></h1>
        <menu>
            <ul>
                <li><span class="text">在线沟通: </span><a href="http://wpa.qq.com/msgrd?v=3&uin=1234567&site=qq&menu=yes"
                                                       class="qq cm_ico" title="通过QQ与促进经济转型，发挥林下资源优势客服进行沟通"
                                                       target="_blank" rel="nofollow"></a><span
                        class="sline cm_ico"></span></li>

                <li class="none_720"><a href="[field:typelink/]" target="_blank" title="">联系我们</a></li>

                <li class="line none_720"></li>
                <div class="cls"></div>
            </ul>
        </menu>
    </div>
</header>
<nav class="nav">
    <div class="nav_bg">
        <div class="wrap">
            <div class="mobile_nav_wrap"><a href="/" class="logo" title=""><img src="/static/images/logo.jpg"
                                                                                alt="江畔果香"/></a><span
                    class="ThiscurCity" id="ThiscurCity" onclick="showAllCopn()"></span>
                <div class="w1024_search" onClick="show_search()"></div>
                <div class="menu_moblie_icon" onClick="show_moblie_menu()"></div>
            </div>
            <ul class="navlist" id="navlist">
                <li><a href="/" title="江畔果香">网站首页<span>Home</span></a></li>

                <li><a href="{% url 'about' %}">关于我们<span>About</span></a>
                    <menu id="aboutNavMenu">
                        <a href="{% url 'about' %}" class="AboutNavMenu6">企业简介</a>
                        <a href="{% url 'gongsiwenhua' %}" class="AboutNavMenu6">企业文化</a>
                        <a href="{% url 'tuanduichengyuan' %}" class="AboutNavMenu6">团队成员</a>
                        <a href="{% url 'qiyerongyu' %}" class="AboutNavMenu6">企业荣誉</a>
                        <a href="{% url 'lianxiwomen' %}" class="AboutNavMenu6">联系我们</a>
                    </menu>
                </li>
                <li><a href="{% url 'chanpinzhanshi' %}">产品展示<span>Product</span></a>
                    <menu id="aboutNavMenu">
                        <a href="{% url 'chanpinfenlei' 1 %}" class="AboutNavMenu6">产品一类</a>
                        <a href="{% url 'chanpinfenlei' 1 %}" class="AboutNavMenu6">产品一类</a>
                        <a href="{% url 'chanpinfenlei' 1 %}" class="AboutNavMenu6">产品一类</a>
                        <a href="{% url 'chanpinfenlei' 1 %}" class="AboutNavMenu6">产品一类</a>
                        <a href="{% url 'chanpinfenlei' 1 %}" class="AboutNavMenu6">产品一类</a>
                    </menu>
                </li>
                <li><a href="{% url 'jishupeixun' %}">技术培训<span>Training</span></a>

                </li>
                <li><a href="{% url 'zhaoshangyinzi' %}">招商引资<span>Business</span></a>

                </li>
                <li><a href="{% url 'fengguangjingdian' %}">风光景点<span>Attractions</span></a>
                    <menu id="aboutNavMenu">
                        <a href="{% url 'jingdianmingxi'  %}" class="AboutNavMenu6">景点名</a>
                        <a href="{% url 'jingdianmingxi'  %}" class="AboutNavMenu6">景点名</a>
                        <a href="{% url 'jingdianmingxi'  %}" class="AboutNavMenu6">景点名</a>
                        <a href="{% url 'jingdianmingxi'  %}" class="AboutNavMenu6">景点名</a>
                        <a href="{% url 'jingdianmingxi'  %}" class="AboutNavMenu6">景点名</a>
                    </menu>
                </li>
                <li><a href="{% url 'xinwenzixun'  %}">新闻资讯<span>News</span></a>
                    <menu id="aboutNavMenu">
                        <a href="{% url 'zixunfenlei' 1 %}" class="AboutNavMenu6">产业新闻</a>
                        <a href="{% url 'zixunfenlei' 1 %}" class="AboutNavMenu6">媒体报道</a>
                        <a href="{% url 'zixunfenlei' 1 %}" class="AboutNavMenu6">科普园地</a>
                    </menu>
                </li>

                <li class="no_bor "><a
                        href="http://wpa.qq.com/msgrd?v=3&uin=1234567&site=qq&menu=yes">在线咨询<span>Online</span></a></li>
                <div class="cls"></div>
            </ul>
            <div class="cls"></div>
        </div>
    </div>
</nav>
